body {
	max-width: 1000px;
	float: none;
	margin: auto;
}
 
header {
	width: 100%;
	display: inline-block;
}
.aside-left {
	width: 30%;
	float: left;
	display: block;
	min-height: 300px;
}
main { 
	width: 35%;
	float: left;
	display: block;
	min-height: 300px;
}
aside {
	width: 30%;
	float: right;
	display: block;
	min-height: 300px;
}
footer {
	width: 100%;
	display: inline-block;
}
	
 
