.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.navbar a:hover {
    background: #ddd;
    color: black;
}
  
.main {
    padding: 40px;
    margin-top: 30px;
    height: 1500px; /* Used in this example to enable scrolling */
}

.row {
    display: flex;
  }

.column {
    flex: 50%;
    padding: 10px;
}

p {
    color: chartreuse;
}
p:hover {
    background-color: blueviolet;
}
img {
    filter: grayscale(100%);
  }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img {
    border: 2px solid darkblue;
    padding: 10px;
    border-radius: 25px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}
  
.container:hover .overlay {
    opacity: 1;
}
  
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

footer {
    text-align: center;
    font-weight: bold;
}

table {
    font-family: 'Times New Roman', Times, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 2px solid black;
    text-align: center;
    padding: 5px;

